{
  "project_info": {
    "project_number": "SUBSTITUA_AQUI",
    "project_id": "seu-projeto-firebase",
    "storage_bucket": "seu-projeto-firebase.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "SUBSTITUA_AQUI",
        "android_client_info": {
          "package_name": "com.motivacional.frases"
        }
      },
      "api_key": [
        {
          "current_key": "SUBSTITUA_AQUI"
        }
      ]
    }
  ],
  "configuration_version": "1"
}
